.side{
    background-image: url('../images/estimator.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.form-control:focus{
    box-shadow: none;
    border-color: grey;
}
.div2{
    display: none;
}
@media(max-width: 575px){
    .side{
        background-image: 
    }
}